/* Font Familye */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Custom Properties */
:root {
  --orange: #fea301;
  --skyBlue: #01acfd;
  --crystalBlue: #01aced;
  --pasteBlue: #0504df;
  --slightlyDarkBlue: #64c8ff;
  --slightlyDarkOrange: #f0aa00;
  --slightlyDarkPurple: #8700ff;

  --purple: #5d58ef;
  --black: #000;
  --white: #fff;
  --bright-teal: #3cd8e8;
  --olive: #95b226;
  --indigo: #5d58f0;
  --gray: #666666;
  /* Font family */
  --quicksand: "Quicksand", serif;
  --raleway: "Raleway", serif;
  /* Font Size */
  --fs-100: 1rem;
  --fs-200: 1.25rem;
  --fs-300: 1.5rem;
  --fs-400: 1.75rem;
  --fs-500: 2rem;
  --fs-600: 3rem;
  --fs-700: 3.5rem;
  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  /* Border Radius */
  --border-radius-12: 0.75rem;
  --border-radius-20: 1.25rem;
}
/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
/* Utility Classes */
.orange {
  color: var(--orange);
}
.sky-blue {
  color: var(--skyBlue);
}
.paste-blue {
  color: var(--pasteBlue);
}
.purple {
  color: var(--purple);
}
.black {
  color: var(--black);
}
.crystal-blue {
  color: var(--crystalBlue);
}
.darkBlue {
  color: var(--slightlyDarkBlue);
}
.darkOrange {
  color: var(--slightlyDarkOrange);
}
.darkPurple {
  color: var(--slightlyDarkPurple);
}
.bright-teal {
  background-color: var(--bright-teal);
}
.olive {
  background-color: var(--olive);
}
.indigo {
  background-color: var(--indigo);
}
/* Styling */
body {
  font-family: var(--quicksand);
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-top: 0.0625rem;
  margin-inline: auto;
}
.btn {
  padding-block: 0.625rem;
  padding-inline: 1.25rem;
  border: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  border-radius: var(--border-radius-12);
  background-color: var(--orange);
  color: var(--white);
}
.gallery-btn {
  font-weight: var(--fw-medium);
  font-family: var(--raleway);
  padding: 0.625rem;
  border-radius: 100vmax;
  border: none;
}
/* Header */
header {
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  gap: 1rem;
}
.hero {
  display: flex;
  justify-content: space-between;
  /* margin-top: 2rem; */
}
.hero button {
  background-color: var(--black);
  color: var(--white);
}
.content {
  padding-top: 7rem;
}
.primary-header {
  width: 17ch;
  font-size: var(--fs-600);
  line-height: 50px;
}
.hero-text {
  margin-block: 1.5rem;
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  color: var(--black);
  width: 52ch;
}
@media screen and (max-width: 500px) {
  header nav,
  header button {
    display: none;
  }
  header::after {
    content: "";
    position: absolute;
    width: 300%;
    top: 12%;
    left: -0.625rem;
    border-bottom: 1px solid var(--orange);
    padding-bottom: 0.625rem;
  }

  .mobile__menu,
  .mobile__menu::after,
  .mobile__menu::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5px;

    right: 2rem;
    background-color: var(--black);
    cursor: pointer;
  }
  .mobile__menu::after {
    top: -8px;
    left: 1px;
  }
  .mobile__menu::before {
    top: -16px;
    left: 1px;
  }
  .container {
    max-width: 450px;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero__img img {
    margin-top: 3rem;
  }
  .primary-header {
    margin-top: -100px;
    font-size: 2rem;
    text-align: center;
    line-height: 32px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-text {
    font-size: calc(var(--fs-100) - 2px);
    font-weight: var(--fw-medium);
    width: 40ch;
    text-align: center;
  }
}
